* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0;
    height: 100%;
    
    color: #444;
    font-size: 16px;
    font-weight: light;
    font-family: -apple-system,system-ui;
    background: #fff;
    opacity: 0;
    transition: opacity .2s .05s;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    gap: 2em;
}

.logo h1 {
    font-size: 3em;
    font-weight: 300;
    display: none;
}

.logo img {
    width: 7em;
    height: 7em;
    border-radius: 1.4em;
}

.state {
    min-height: 50px;
    max-width: 320px;
    margin: 0 4em;
    text-align: center;
}

button {
    display: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1em;
    padding: 1em 3em;
    margin-top: 3em;
    background-color: #eaeaea;
    border: none;
    border-radius: 8px;
    color: #444;
    cursor: pointer;
    pointer-events: none;
    transition: all .2s;
}

button:hover {
    filter: brightness(.94)
}

button:active {
    filter: brightness(.88)
}

@media (max-width: 450px) {
    
    .state {
     
    }
}

